<h3>Products</h3>

<!-- <input type="text" placeholder="Search" (input)="onSearchChange($event)"> -->
<input type="text" placeholder="Search" [(ngModel)]="search">
<span [hidden]="!loader">&nbsp;Loading please wait...</span>

<p>Filtered Text: '{{search}}'</p>
<div>
    <div *ngFor="let product of products">
        <a [routerLink]="['/product', product.id]">{{product.name}}</a>&nbsp;
        <app-product-rate 
            [overAllRating]="product.overAllRating" 
            [ratings]="product.ratings"
            (ratingClicked)='onRatingClick($event)'></app-product-rate>
    </div>    
</div>
<div>
    <div *ngIf="products.length === 0 && !loader">Product not found</div>
</div>