<h1>First App</h1>
<ul>
    <li><a [routerLink]="['/home']">Home</a></li>
    <li><a [routerLink]="['/about']">About</a></li>
    <li><a [routerLink]="['/clients']">Clients</a></li>
    <li><a [routerLink]="['/posts']">Posts</a></li>
    <li><a [routerLink]="['/product']">Products</a></li>
    <li><a [routerLink]="['/contact']">Contact</a></li>
    <li *ngIf="!isLoggedIn"><a [routerLink]="['/login']">Login</a></li>
    <li *ngIf="isLoggedIn"><a [routerLink]="['/profile']">Profile</a></li>
    <li *ngIf="isLoggedIn"><a [routerLink]="['/users']">Users</a></li>
</ul>
<div *ngIf="isLoggedIn">
    <span *ngIf="auth">Welcome {{ auth.user.name }} </span>
    <button type="button" (click)="onLogoutClick($event)">Logout</button>
</div>
<hr>